<div class="card-column" id="<%= dom_id card_column %>">
  <div class="card-column-header">
    <div class="card-column-name">
      <%= card_column.title %>
    </div>
    <div class="card-column-actions">
      <%= button_to "X", card_column_path(card_column), method: :delete %>
    </div>
  </div>
  <%= render card_column.cards %>
  <div class="card">
      <%= link_to "+ New Card", new_card_path(params: { card_column_id: card_column.id }) %>
  </div>
</div>
