<div class="card-column" id="<%= dom_id card_column %>">
  <%= form_with(model: card_column) do |form| %>
    <% if card_column.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(card_column.errors.count, "error") %> prohibited this card_column from being saved:</h2>

        <ul>
          <% card_column.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card-column-header">
      <div class="card-column-name">
        <%= form.text_field :title %>
      </div>
      <div class="card-column-actions">
        <%= button_to "X", card_columns_path %>
      </div>
    </div>
      <%= form.submit %>
  <% end %>
</div>
