<%= form_with(model: card_column) do |form| %>
  <% if card_column.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card_column.errors.count, "error") %> prohibited this card_column from being saved:</h2>

      <ul>
        <% card_column.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
