<p style="color: green"><%= notice %></p>

<%= render @card_column %>

<div>
  <%= link_to "Edit this card column", edit_card_column_path(@card_column) %> |
  <%= link_to "Back to card columns", card_columns_path %>

  <%= button_to "Destroy this card column", @card_column, method: :delete %>
</div>
