<div class="card-column" id="<%= dom_id lane %>">
  <%= form_with(model: lane) do |form| %>
    <% if lane.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(lane.errors.count, "error") %> prohibited this lane from being saved:</h2>

        <ul>
          <% lane.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card-column-header">
      <%= form.hidden_field :project_id, value: params[:project_id] %>
      <div class="card-column-name">
        <%= form.text_field :title, autofocus: true %>
      </div>
      <div class="card-column-actions">
        <%= link_to "X", lanes_path %>
      </div>
    </div>
    <%= form.submit %>
  <% end %>
</div>
