<div class="lane" id="<%= dom_id lane %>">
  <div class="lane-header">
    <div class="lane-name">
      <%= lane.title %>
    </div>
    <div class="lane-actions">
      <%= button_to "X", lane_path(lane), method: :delete %>
    </div>
  </div>
  <div class="cards" data-controller="drag-and-drop">
    <%= render lane.cards %>
    <div class="card">
      <%= link_to "+ New Card", new_card_path(params: { lane_id: lane.id }) %>
    </div>
  </div>
</div>
