<div class="lane" id="<%= dom_id lane %>" data-id="<%= lane.id %>" data-url="/lanes/:id" data-resource="lane">
  <div class="lane-header">
    <div class="lane-name">
      <%= lane.title %><span class="lane-count">(<%= lane.cards.count %>)</span>
    </div>
    <div class="lane-actions">
      <%= button_to heroicon("trash", variant: :outline, options: { style: "color: red; width: 1em; height: 1em;" }), lane, method: :delete %>
    </div>
  </div>
  <%= turbo_frame_tag dom_id(lane, :cards), src: cards_path(lane_id: lane.id), class: "cards", data: { controller: "drag-drop", group: "cards", group_field: 'lane_id', group_id: lane.id } %>
  <%= turbo_frame_tag dom_id(lane, :new_card) do %>
    <%= link_to new_card_path(params: { lane_id: lane.id }), data: { turbo_frame: dom_id(lane, :new_card) } do %>
      <%= heroicon("plus", variant: :outline, options: { style: "color: teal; width: 1em; height: 1em;" }) %>
    <% end %>
  <% end %>
</div>
