<%= turbo_stream.append "lanes" do %>
  <%= render @lane %>
<% end %>
<%= turbo_stream.replace :new_lane do %>
  <%= turbo_frame_tag :new_lane do %>
    <%= link_to new_lane_path(params: { project_id: @lane.project.id }), class: "project-add-lane", data: { turbo_frame: :new_lane } do %>
      <%= heroicon("plus", variant: :outline, options: { style: "color: teal; width: 1em; height: 1em;" }) %>
      <span class="project-add-lane-label">Add Lane</span>
    <% end %>
  <% end %>
<% end %>
