<div id="<%= dom_id project %>">
  <h1><%= project.title %> <%= button_to "Delete", @project, method: :delete %></h1>
  <%# project.description %>
  <div id="projects" class="card-wall">
    <%= turbo_frame_tag "lanes", src: lanes_path, data: { controller: "drag-and-drop" } %>
    <%= turbo_frame_tag :new_lane do %>
      <%= link_to "+", new_lane_path(params: { project_id: project.id }), data: { turbo_frame: :new_lane } %>
    <% end %>
  </div>
</div>
