<div id="<%= dom_id card %>" class="card" data-id="<%= card.id %>" data-url="/cards/:id" data-resource="card">
  <div class="card-header">
    <h3 class="card-title"><%= card.title %></h3>
    <%= button_to heroicon("trash", variant: :outline, options: { style: "color: red; width: 1em; height: 1em;" }), card, method: :delete %>
  </div>
  <%= sanitize card.body.to_s.truncate_words(10) %>
</div>
